//Home Blade Styles

body{
    font-size: 1rem;
    background-color: #fff;
}

.navbar-light{
    .navbar-toggler{
        border-color: rgba(0, 0, 0, 0);;
        padding: 0rem 0rem;
    }
}

button:focus{
    outline: 0px auto -webkit-focus-ring-color;
}

@font-face{
    font-family:'fifa-font';
    src: url('font/EASansCurves-Regular.ttf');
}

.home-carousel{
    max-height: 60vw;
    position: absolute;
}

.after-image{
    min-height: 500px;
    position: absolute;
    padding-top: 80px;
    z-index: 30;
    clip-path: polygon(50% 3%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);

    h3{
        font-weight: bold;
    }
    .btn{
        padding: 0.2rem 0.4rem;
        color: #fff;
        background-color: #cd3d0f;
        border: none;
        border-radius: unset;
    }
}

.text-highlight{
    background-color: #eaeaea;
    border-radius: 0.6rem;
    padding-left: 5px;
    padding-right: 5px;
    a{
        color: #212529;
    }
}

.testimony{
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: #f6f6f6 1px 11px 19px 1px;
    margin-top: 45px;
    padding:1rem 1rem 0.1rem 1rem;

    p{
        font-style: italic;
        font-weight: 600;
    }
}

.tournament-div{
    background:url(/game-images/tournament6.jpg);
    // linear-gradient(rgba(52, 144, 220, 0.6), rgba(52, 144, 220, 0.58)),
    background-size: cover;
    display: block;
    min-height: 50vw;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 2rem;
    padding-right: 10px;
    padding-left: 10px;

    .fifa-logo-div{

        img{
            width: 100px;
            margin-top: 10px;
        }
    }
    div{
        margin-top: 20px;

        .whatsapp-text{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
        }
        p{
            font-size:15px;
            letter-spacing: 1px;
            color:white;
            font-family: fifa-font;
            margin-bottom: 0.5rem;
        }
        .fab{
            font-size: medium;
            color: lawngreen;
        }
    }

}

@media(max-width: 576px){
    .show-for-small-screen{
        display: inherit;
    }
    .show-for-big-screen{
        display:none;
    }
    .carousel-item>img{
        height: 60vw;
    }

    .pad-div{
        position: absolute;
        z-index: 50;
        margin-top: 49vw;

        .pad-img-div{
            text-align: center;

            img{
                width: 150px;
            }
        }
    }

}

@media(max-width:425px){
    .after-image{
        margin-top: 215px;
    }
    .pad-div{
        margin-top: 205px;
    }
}

@media(max-width:375px){
    .after-image{
        margin-top: 195px;
    }
    .pad-div{
        margin-top: 175px;
    }
}

@media(max-width:320px){
    .after-image{
        margin-top: 165px;
    }
    .pad-div{
        margin-top: 150px;
    }
}

@media screen and (max-width:576px) and (min-width:426px){
    .pad-div{
        margin-top: 49vw;
    }
    .after-image{
        margin-top:50vw;

        div{
            .mt-4{
                padding-right: 4rem;
                padding-left: 4rem;
            }
            hr{
                margin-left: 3rem;
                margin-right: 3rem;
            }
            .testimony{
                margin-right: 4rem;
                margin-left: 4rem;
            }
        }

        .tournament-div{
            div{
                margin-top: 20px;

                .fifa-logo-div{
                    img{
                        width: 140px;
                    }
                }
                .tournament-date{
                    font-size: 2rem;
                }

                .our-customers{
                    font-size: 1.5rem;
                }

                .whatsapp-text{
                    font-size: 0.9rem;
                }
                a{
                    i{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and(min-width:577px){

    body{
        font-size: 1rem;
        line-height: 1.3;
    }
    .show-for-small-screen{
        display: none;
    }
    .show-for-big-screen{
        display:flex;

        .col-6{
            padding-right: 80px;
            padding-left: 80px;
            margin-bottom: 5rem;
            img{
                width: 300px;
            }
        }

        .write-up{
            text-align: justify;
        }
    }

    .home-carousel{
        max-height: 100vh;
        position: relative;
    }

    .after-image{
        min-height: 500px;
        position: relative;
        padding-top: 60px;
        clip-path: none;

        h3{
            font-size: 2.575rem;
        }
    }

    .pad-div{
        position: absolute;
        z-index: 50;
        margin-top: 90px;

        .pad-img-div{
            text-align: center;

            img{
                width: 150px;
            }
        }
    }

    .testimony{
        margin-right: 10rem;
        margin-left: 10rem;
    }
    .tournament-div{
        height: 50vw;
        margin-top: 80px;
        margin-right: 105px;
        margin-left: 105px;
        margin-bottom: 5rem;

        div{
            margin-top: 50px;

            p{
                margin-bottom: 2rem;
            }
            .tournament-date{
                font-size: 2.5rem;
            }

            .our-customers{
                font-size: 2.8rem;
            }

            .whatsapp-text{
                font-size: 1.5rem;

                a{
                    i{
                        font-size: 2rem;
                    }
                }
            }
        }
        .fifa-logo-div{
            img{
                width: 280px;
                margin-top: 50px;
            }
        }
    }
}

